<h1>Review | 후기</h1> </br>

교환학생 프로그램 경험이 있는 학생들이 </br>
<a href="/review/new_review"> 새 글 쓰기 </a></br></br>

<% @reviews.each do |p|%>
<a href="/review/index_review/<%=p.id %>"> <%= p.title %></a> 작성된 시간 : <%= p.created_at.strftime("%Y년 %m월 %d일 %H시%M분") %></br>
<% end %></br>

<%= search_form_for @q do |f| %>
  <%= f.label :Search %>
  <%= f.search_field :title_cont %>
  
  <%= f.submit %>
<% end %>