<h1>후기 작성페이지 입니다</h1>
<a href="/review/new_review"> 새 글 쓰기 </a></br></br>

<% @reviews.each do |p|%>
  제목 : <%= p.title %><br>
  내용 : <%= p.content %> <br>
  <a href="/review/edit_review/<%= p.id %>">[수정]</a> 
  <form action="/review/destroy_review/<%= p.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" name="" value="삭제">
  </form> 
  <hr />
<% end %>

<div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Submit</button>
  </form>
</div>