<!DOCTYPE html>
<html>
<br/>
<h1>Review</h1> 
<blockquote>
교환학생 프로그램 경험이 있는 학생들의 생생한 후기가 올라오는 곳입니다! 
외국으로의 교환학생을 준비하는 한국인 학생들을 위한 공유게시판입니다!
<br/><br/>
This is where the vivid reviews of students with exchange program experience come in! 
It's a shared bulletin board for Korean students who are preparing for exchange students abroad!
</blockquote>
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Time</th>
  </tr>
 
  <tr>
    <% @reviews.each do |p|%>
    <td><%=p.user.name%></td>
    <td><a href='/review/index_review/<%= p.id%>'> <%= p.title%> </a> </td>
    <td><%= p.content %></td>
    <td><%= p.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  <% end %>
</table>
<br>


<span class="image right"><a href="/review/new_review" class="button primary">Write New Post</a></span>
<br /><br /><br />



</html>