<!DOCTYPE html>

<html>
    <style>


.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
        float: left;   
    margin: 5px 45px 5px 20px;   
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
     box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;  
}


    </style>
    
<section>
<div class="table-wrapper">

  <table>
		<thead>
			<tr>
					<th>Title: <%= @review.title %></th>
                     <th>Time : <%= @review.created_at.strftime("%Y-%m-%d %H:%M") %> </th>
                     <th>User: <%=@review.user.name %> </th>
            </tr>
  </table>
                  
   <%= @review.content %><br/>
   <%= image_tag("#{@review.image}") %>
</div>  


<br /><br /><br />
<div> 
 <% if can? :edit_review, @review %>
    <span class="image left"><button><a href="/review/edit_review/<%= @review.id %>">Edit Post</a></button></span>
 <% end %>
  
 <% if can? :destroy_review, @review %>
    <form action="/review/destroy_review/<%= @review.id %>" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <span class="image left">
      <input type="submit" name="" value="Delete Post">
    </form>
      </span>
  </br></br>
 <%end%>
</div>  
  
 <br />
 <span class= "image right"><a href='/review/home_review' class = "button primary small"> Back to the list </a></span>  
 <br/><br/>
  <hr>
	<h2>Comments</h2>							

<% @coreviews.each do |comment| %>
<div class= "commentbox"> 
  <p><b><%= comment.user.name %></b></p> 
  <p><%= comment.content %></p>
  <!--추가-->
  <p><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  
  <span class= "image right">
  <ul>
  <% if can? :destroy, comment %>
  <a href='/reviews/index_review/<%= @review.id %>/coreviews/destroy/<%= comment.id %>’ data-confirm='댓글을 삭제합니다.'> Delete </a>
  <%end%>
  
  <% if can? :edit, comment %>
  <a href="/reviews/index_review/<%= @review.id %>/coreviews/edit/<%= comment.id %>" data-confirm='댓글을 수정합니다.'> Edit </a> 
  <%end%>
  </ul>
  </span>

  
  <% comment.cocoreviews.each do |p| %>
     <div class="bubble">
       <b><%= p.user.name %> :  </b>
       <b><%= p.content %></b> </br>
       <%= p.created_at.strftime("%Y-%m-%d %H:%M") %>
       </div>
       </br></br>
      <% if can? :destroy, p %>
     <a href='/reviews/index_review/<%= @review.id%>/coreviews/<%=comment.id%>/cocoreviews/<%=p.id%>/edit'> 댓글 수정</a>
     <%end%>
      
      <% if can? :edit, p %>
     <a href='/reviews/index_review/<%= @review.id%>/coreviews/<%=comment.id%>/cocoreviews/<%=p.id%>/destroy'>댓글 삭제</a>
     <%end%>
     </br></br>
  <%end%>
   
  
    <form action="/reviews/index_review/<%= @review.id%>/coreviews/<%=comment.id%>/cocoreviews/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='댓글 작성'>
    </form>
  
  </div>
  
  
<% end %>  
 
<br/>
<form action="/reviews/index_review/<%= @review.id %>/coreviews/create" method='get'>
    <ul class="actions">
  <input type='text' name='input_comment'><input type='submit' value='Submit'>
   </ul>
  </form>
  
</section>



 
  </br></br>

