 제목 : <%= @review.title %><br>
  내용 : <%= @review.content %> <br>
  <a href="/review/edit_review/<%= @review.id %>">[수정]</a> 
  <form action="/review/destroy_review/<%= @review.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" name="" value="삭제">
  </form> 
  <hr />
  
  <form action="/reviews/index_review/<%= @review.id %>/coreviews/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='댓글 작성'>
</form>


<% @coreviews.each do |comment| %>
    <p><%= comment.content %></p>
    <a href='/reviews/index_review/<%= @review.id %>/coreviews/destroy/<%= comment.id %>’ data-confirm='댓글을 삭제합니다.'>[댓글삭제]</a></br>
<% end %>