<br />
<div class= "box"> 

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br />

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>
  <br />

  <div class="form-group">
    <%= f.label :nationality %>
    <%= f.text_field :nationality, autofocus: true, class: 'form-control' %>
  </div>
<br />

  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, autofocus: true, class: 'form-control' %>
  </div>
  
  
 

  <div class="btn-group" data-toggle="buttons">
    <p style="margin-bottom:0;"><%= f.label :gender %></p>
      <label class="radio_button"> Male
       <%= f.radio_button :gender, 'Male', checked: true %>
      </label>
      <label class="radio_button active"> Female
       <%= f.radio_button :gender, 'Female', checked: true %>
      </label>
  </div></br>

  <span class="image right"> 
  <div class="actions">
  <%= f.submit "Sign up" %>
  </div>
  </span>
  <% end %>
  
  <button><%= render "devise/shared/links" %></button>

</div>