
댓글 수정 화면

<form action="/questions/index_question/<%= @question.id%>/commentquestions/<%=@commentquestion.id%>/cocoquestions/<%=@cocoquestion.id%>/update" method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type='text' name='input_comment' value="<%=@cocoquestion.content%>">
    <input type='submit' value='댓글 작성'>
</form>
 