<br/>
<div class="box">
<h3>Edit your post</h3>

<form action="/matching/update_matching/<%= @matching.id %>/" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  Title : <input type="text" name="matching[title]" value="<%= @matching.title %>"><br />
  Content : <textarea name="matching[content]" rows="8" cols="80"><%=  @matching.content%></textarea><br />
  Condition (Open or Done) : <input type="text" name="matching[check]" value="<%= @matching.check%>"><br />
  <span class="image right"><input type="submit" value="Submit"></span>
</form>
<br/><br/>
</div>
