<!DOCTYPE html>
<br/>
<h1>Matching Groups</h1>
<blockquote>
한국 학생들과 외국에서 온 교환학생들이 원하는 목표의 소모임을 만드는 공간입니다! 
<br/>
인원과 소모임목적은 모두 자유이고, 댓글을 통해 자유롭게 팀멤버 신청을 하여 소모임을 만들어 활동하면 됩니다. 
<br/><br/>
It is a space for Korean students and exchange students from abroad to make free gatherings! 
<br/>
You freely make gatherings and also can apply for team members through comments.
</blockquote>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Time</th>
    <th>Condition</th>
  </tr>

<tr>
    <% @matchings.each do |p|%>
    <td><%=p.user.name%></td>
    <td>
      <% if p.title.empty? %>
      <a href="/matching/index_matching/<%=p.id%>"> No Title </a>
      <% else %>
      <a href="/matching/index_matching/<%=p.id%>"> <%= p.title%> </a>
      <% end %>
    </td>
    <td><%= p.content %></td>
    <td><%= p.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= p.check %></td>
  </tr>
  <% end %>
</table>

<span class="image right"><a href="/matching/new_matching" class="button primary">Write New Post</a></span>
<br /><br /><br />


</html>
