 제목 : <%= @matching.title %><br>
  내용 : <%= @matching.content %>
   <a href="/matching/edit_matching/<%= @matching.id %>">[수정]</a> 
   <form action="/matching/destroy_matching/<%= @matching.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" name="" value="삭제">
  </form>
  <hr />
  
  <form action="/matchings/index_matching/<%= @matching.id %>/commentmatchings/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='댓글 작성'>
</form>


<% @commentmatchings.each do |comment| %>
    <p><%= comment.content %></p>
    <a href="/matchings/index_matching/<%=@matching.id%>/commentmatchings/destroy/<%= comment.id %>" data-confirm='댓글을 삭제합니다.'> 
    [댓글 삭제] </a>
<% end %>

 