<section>
<div class="table-wrapper">

  <table>
								<thead>
				  <tr>
					  <th>Title: <%= @matching.title %></th>
                      <th>Time : <%= @matching.created_at.strftime("%Y-%m-%d %H:%M") %> </th>
                      <th>User: <%=@matching.user.name %> </th>
                      <th>Condition: <%=@matching.check %></th>
                  </tr>
  </table>
                  
   <%= @matching.content %><br/>
   <%= image_tag("#{@matching.image}") %>
</div>

<br /><br /><br />

<div>  
   
   <% if can? :edit_matching, @matching %>
     <span class="image left">
       <button><a href="/matching/edit_matching/<%= @matching.id %>">Edit Post</a></button>
     </span>
   <% end %>
   
       <% if can? :destroy_matching, @matching %>
        <form action="/matching/destroy_matching/<%= @matching.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <span class="image left">
        <input type="submit" name="" value="Delete Post">
        </form>
        </span>
  </br></br>
        <%end%>
</div>
  <br />
  
  <span class= "image right">
      <a href='/matching/home_matching' class = "button primary small"> Back to the list </a>
  </span>  
  <br/><br/>
  <hr>
	<h2>Comments</h2>	
  
<% @commentmatchings.each do |comment| %>

<div class= "commentbox"> 
  <p><b><%= comment.user.name %></b></p> 
  <p><%= comment.content %></p>
  <!--추가-->
  <p><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>

  
  <span class= "image right">
    <ul>
      <% if can? :destroy, comment %>
      <a href="/matchings/index_matching/<%=@matching.id%>/commentmatchings/destroy/<%= comment.id %>" data-confirm='댓글을 삭제합니다.'>Delete </a>
      <%end%>
    
      <% if can? :edit, comment %>
        <a href="/matchings/index_matching/<%= @matching.id %>/commentmatchings/edit/<%= comment.id %>" data-confirm='댓글을 수정합니다.'> Edit </a> 
      <%end%>
    </ul>
  </span>
  <br/>
  
    <form action="/matchings/index_matching/<%= @matching.id%>/commentmatchings/<%=comment.id%>/cocomatchings/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='댓글 작성'>
    </form>
  
  <% comment.cocomatchings.each do |p| %>
     <%=p.content %>
     <%= p.user.name %>
     <%= p.created_at.strftime("%Y-%m-%d %H:%M") %>
     <% if can? :destroy, p %>
     <a href='/matchings/index_matching/<%= @matching.id%>/commentmatchings/<%=comment.id%>/cocomatchings/<%=p.id%>/edit'> 댓글 수정</a>
     <%end%>
      
     <% if can? :edit, p %>
     <a href='/matchings/index_matching/<%= @matching.id%>/commentmatchings/<%=comment.id%>/cocomatchings/<%=p.id%>/destroy'>댓글 삭제</a>
     <%end%>
  <%end%>
  
  
  </div>
   
<% end %>

<br/>
<form action="/matchings/index_matching/<%= @matching.id %>/commentmatchings/create" method='get'>
    <ul class="actions">
  <input type='text' name='input_comment'><input type='submit' value='Write Comment'>
   </ul>
  </form>
</section>
  
  
  
 

 