<!DOCTYPE html>
<html>
<br/>
<h1>FAQ </h1>
<blockquote>
외국으로 교환학생을 가려는 한국학생들이 자유롭게 질문을 올리는 게시판입니다. <br/><br/>
This is a bulletin board where Korean students can ask questions. </blockquote>

<table>
 <table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Time</th>
  </tr>
  
<tr>
    <% @questions.each do |p|%>
    <td><%=p.user.name%></td>
    <td><a href="/question/index_question/<%=p.id%>"><%=p.title%></a> </td>
    <td><%= p.content %></td>
    <td><%= p.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  <% end %>
</table>
<br>



<span class="image right"><a href="/question/new_question" class="button primary">Write New Post</a></span>
<br /><br /><br />

</html>
