<section>
<div class="table-wrapper">

  <table>
								<thead>
								  <tr>
								      <th>Title: <%= @question.title %></th>
                      <th>Time : <%= @question.created_at.strftime("%Y년 %m월 %d일 %H시%M분") %> </th>
                      <th>User: <%=@question.user.name %> </th>
                  </tr>
                  </table>
                  
   <%= @question.content %><br/>
   <%= image_tag("#{@question.image}") %>
</div>

<br /><br /><br />
<div>  
   <% if can? :edit_question, @question %>
    <span class="image left"><button><a href=""/question/edit_question/<%= @question.id %>">Edit Post</a></button></span>
  <% end %>
  
   <% if can? :destroy_question, @question %>
    <form action="/question/destroy_question/<%= @question.id %>" method="post">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
     <span class="image left">
   <input type="submit" name="" value="Delete Post">
    </form>
    </span>
  </br></br>
  <%end%>
  </div>
  
  <br />
  <span class= "image right"><a href='/question/home_question' class = "button primary small"> Back to the list </a></span>  
  <br/><br/>
  <hr>
	<h2>Comments</h2>			
  
  
  <% @commentquestions.each do |comment| %>
  <div class= "commentbox"> 
  <p><b><%= comment.user.name %></b></p> 

  <p><%= comment.content %></p>
  <span class= "image right">
  <ul>
  <% if can? :destroy, comment %>
  <a href="/questions/index_question/<%=@question.id%>/commentquestions/destroy/<%= comment.id %>" data-confirm='댓글을 삭제합니다.'> Delete </a>
  <%end%>
  
  <% if can? :edit, comment %>
  <a href="/questions/index_question/<%= @question.id %>/commentquestions/edit/<%= comment.id %>" data-confirm='댓글을 수정합니다.'> Edit </a> 
  <%end%>
  </ul>
  </span>
  <br/>
  </div>
  
  
<% end %>  
 
<br/>
<form action="/questions/index_question/<%= @question.id %>/commentquestions/create" method='get'>
    <ul class="actions">
  <input type='text' name='input_comment'><input type='submit' value='Submit'>
   </ul>
  </form>
  
</section>



 
  </br></br>
  
  