
<br/>
<div class= "box">

<h3>New Post</h3>
<br/>
<%= form_for(@question, url: question_create_question_path) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  <br/>
  <span class="image right">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 </span>
<br/><br/>
</div>