<br />
<h1>Notice</h1>

<blockquote>NewBie에서 NewBie회원들에게 제공하는 공지사항란입니다! 자주 들어오는 질문들과 교환학생에 관련된 기본적인 매뉴얼들이 제공되는 페이지입니다. <br/>
원하시는 정보가 있다면 <a href = "/faq"> FAQ </a>에 올려주세요! 빠른 시일내에 답변매뉴얼을 올리도록 하겠습니다. 
<br/><br/>
This page is a notice bulletin where NewBie is providing necessary information for NewBie members. Frequently asked questions and basic manuals related to exchange program are available in this page.<br/>
If you have extra information in need, please post it in  <a href = "/faq"> FAQ </a>! We will try our best to provide a feedback as soon as possible.</blockquote>
<br />

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Time</th>
  </tr>
 
  <tr>
    <% @notices.each do |p|%>
    <td><%=p.user.name %></td>
    <td><a href="/notice/index_notice/<%=p.id%>"> <%= p.title %></a> </td>
    <td><%= p.content %></td>
    <td><%= p.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  <% end %>
</table>
<br>


<span class="image right"><a href="/notice/new_notice" class="button primary">Write New Post</a></span>
<br /><br /><br />


<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="/action_page.php">
										<input type="text" name="search" placeholder="Search" />
									</form>
								</section>
								
<div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Submit</button>
  </form>
</div>







</body>
</html>
