  제목 : <%= @notice.title %><br>
  내용 : <%= @notice.content %>
  <a href="/notice/edit_notice/<%= @notice.id %>">[수정]</a> 
  <form action="/notice/destroy_notice/<%= @notice.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" name="" value="삭제">
  </form>
  
  
  <form action="/notices/index_notice/<%= @notice.id %>/comments/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='댓글 작성'>
</form>

<% @comments.each do |p| %>
  <p><%= p.content %></p>
  <a href="/notices/index_notice/<%= @notice.id %>/comments/destroy/<%= p.id %>" data-confirm='댓글을 삭제합니다.'>
  [댓글삭제] </a>
  <a href="/notices/index_notice/<%= @notice.id %>/comments/edit/<%= p.id %>" data-confirm='댓글을 수정합니다.'> [댓글수정] </a> 
<% end %>