<section>
<div class="table-wrapper">

  <table>
			<thead>
				  <tr>
					  <th>Title: <%= @club.title %></th>
                      <th>Time : <%= @club.created_at.strftime("%Y년 %m월 %d일 %H시%M분") %> </th>
                      <th>User: <%=@club.user.name %> </th>
                  </tr>
   </table>
                  
   <%=@club.content %><br/>
   <%= image_tag("#{@club.image}") %>

</div>

<br /><br /><br />

<div>  

  <% if can? :edit_club, @club %>
      <span class="image left"><button><a href="/club/edit_club/<%= @club.id %>">Edit Post</a></button></span>
  <% end %>
   
  <% if can? :destroy_club, @club %>
    <form action="/club/destroy_club/<%= @club.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <span class="image left">
    <input type="submit" name="" value="Delete Post">
    </form>
    </span>
  </br></br>
  <%end%>
  
</div>
  <br />
  <span class= "image right">
      <a href='/club/home_club' class = "button primary small"> Back to the list </a>
  </span>  
  <br/><br/>
  <hr>
	<h2>Comments</h2>	
	
    <form action="/clubs/index_club/<%= @club.id %>/cocomentclubs/create"  method='get'>
      <ul class="actions">
      <input type='text' name='input_comment'><input type='submit' value='Write Comment'>
      </ul>
    </form>
    
<% @cocomentclubs.each do |comment| %>
  
  <div class= "commentbox"> 
      <p><b><%= comment.user.name %></b></p> 
      <p><%= comment.content %></p>
      
  <span class= "image right">
      <ul>
       <% if can? :destroy, comment %>
        <a href="/clubs/index_club/<%= @club.id %>/cocomentclubs/destroy/<%= comment.id %>" data-confirm='댓글을 삭제합니다.'>Delete </a>
       <%end%>
    
       <% if can? :edit, comment %>
         <a href="/clubs/index_club/<%= @club.id %>/cocomentclubs/edit/<%= comment.id %>" data-confirm='댓글을 수정합니다.'> Edit </a> 
       <%end%>
      </ul>
  </span>
  <br/>
  
     
    <form action="/clubs/index_club/<%= @club.id %>/cocomentclubs/<%= comment.id %>/cococlubs/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='대댓글 작성'>
    </form>
 
    
    
   
    <% comment.cococlubs.each do |p|%>
      <%= p.content %>
      <%= p.user.name %>
      <% if can? :destroy, p %>
      <a href='/clubs/index_club/<%= @club.id %>/cocomentclubs/<%= comment.id %>/cococlubs/<%=p.id%>/destroy'>댓글 삭제</a> 
      <%end%>
      
      <% if can? :edit, p %>
      <a href='/clubs/index_club/<%= @club.id %>/cocomentclubs/<%= comment.id %>/cococlubs/<%=p.id%>/edit'> 댓글 수정</a>
      <%end%>
      
      
    <%end%>
  

  
  </div>
  
<% end %>  

<br/>
   


</section>
  
 
