
  제목 : <%= @club.title %><br>
  내용 : <%= @club.content %>
  작성자 : <%=@club.user.name%>
  작성된 시간 : <%= @club.created_at.strftime("%Y년 %m월 %d일 %H시%M분") %>
   <%= image_tag("#{@club.image}") %>
  
  <% if can? :edit_club, @club %>
  <a href="/club/edit_club/<%= @club.id %>">[수정]</a>
  <% end %>
  
  <% if can? :destroy_club, @club %>
    <form action="/club/destroy_club/<%= @club.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" name="" value="삭제">
    </form>
    <hr />
  <%end%>
  
 
<form action="/clubs/index_club/<%= @club.id %>/comment_clubs/create" method='get'>
    <input type='text' name='input_comment'>
    <input type='submit' value='댓글 작성'>
</form>
 
 <a href='/club/home_club'>목록 </a></br></br>
  
<% @commentclubs.each do |comment| %>
    <p><%= comment.content %></p>
   
     
   
    <a href="/clubs/index_club/<%= @club.id %>/comment_clubs/destroy/<%= comment.id %>" data-confirm='댓글을 삭제합니다.'> [댓글삭제] </a>
   
    <a href="/clubs/index_club/<%= @club.id %>/comment_clubs/edit/<%= comment.id %>" data-confirm='댓글을 수정합니다.'> [댓글수정] </a> 
    
    
   
<% end %>
 
   
