<!DOCTYPE html>
<html>
<br/>
<h1>Share Information</h1>
<blockquote>
교환학생에 관련된 기본적인 정보들을 공유하는 곳입니다! 한국에서 생활하는 외국인 학생들이 불편한점이나 궁금한점을 공유할 수 있도록 만든 게시판 입니다! 
<br/>Share necessary information! This bulletin board allows foreign students living in Korea to share their inconveniences or questions!</blockquote>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Time</th>
  </tr>
  
  <tr>
    <% @infos.each do |p|%>
    <td><%=p.user.name%></td>
    <td><a href="/info/index_info/<%= p.id %>"> <%= p.title%> </a> </td>
    <td><%= p.content %></td>
    <td><%= p.created_at.strftime("%Y년 %m월 %d일 %H시%M분") %></td>
  </tr>
  <% end %>
</table>


<span class="image right"><a href="/info/new_info" class="button primary">Write New Post</a></span>
<br /><br /><br />

</html>
